extends layout 

block content 
  p=message
  form(action="/user/login" method="POST")
    div.m-3
      label.form-label Votre adresse mail :
      input(type='email' name="email" id='inputEmail' class="form-control" required)
    div.m-3
      label.form-label Votre mot de passe :
      input(type='password' name="password" id='inputPassword' class="form-control" required)
    div.m-3
      input(type="submit")
    
    .row 
      .col 
        p pas encore de compte ? 
        a(href="/user/register") venez vous inscrire ! 

