extends layout

block content
  div.View
    h1.Banner Bienvenue sur akigora (css en cours)
    div.Message
      span.Details Accèder à votre dashboard !
    div.NavButtons
      a(href="/user/login")
        p.lead Cliquez ici pour vous connecter

